<!doctype html>
<html lang="en">

<head>
  {% if GOOGLE_ANALYTICS_ID %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ GOOGLE_ANALYTICS_ID }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ GOOGLE_ANALYTICS_ID }}');
    </script>
  {% endif %}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% block meta %}
  <title>{{ title|default:'Battlesnake' }}</title>
  <meta name="description" content="{{ description|default:'Bringing developers of all skill levels together in a friendly, co-operative environment. Our goal is to make programming fun, accessible, and entertaining for everyone!' }}">
  <link rel="shortcut icon" href="{% static 'ui/favicon.ico' %}" />

  <meta property="og:title" content="{{ title|default:'Battlesnake' }}">
  <meta property="og:description" content="{{ description|default:'Bringing developers of all skill levels together in a friendly, co-operative environment. Our goal is to make programming fun, accessible, and entertaining for everyone!' }}">
  <meta property="og:url" content="{{ request.build_absolute_uri }}">

  {% if game_image %}
    <meta property="og:image" content="{{ game_image }}">
  {% else %}
    <meta property="og:image" content="{% static banner|default:'ui/img/social-banner.jpg' %}">
  {% endif %}

  <meta name="twitter:title" content="{{ title|default:'Battlesnake' }}">
  <meta name="twitter:description" content="{{ description|default:'Bringing developers of all skill levels together in a friendly, co-operative environment. Our goal is to make programming fun, accessible, and entertaining for everyone!' }}">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@battlesnakeio">

  {% if game_image %}
    <meta name="twitter:image" content="{{ game_image }}">
  {% else %}
    <meta name="twitter:image" content="{% static banner|default:'ui/img/social-banner.jpg' %}">
  {% endif %}

  {% endblock meta %}

  <meta name='theme-color' content='#F64A91'>

  {% include 'ui/layouts/theme/styles.html' %}
  {% include 'ui/layouts/includes/styles.html' %}
</head>

<body class="layout-horizontal menu-auto-hide">
  {% block nav %}
  {% include 'ui/layouts/includes/nav.html' %}
  {% endblock nav %}

  <div class="content-wrapper">
    <main class="content container">
      {% for message in messages %}
      <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true" class="la la-close"></span>
        </button>
        {{ message }}
      </div>
      {% endfor %}

      <section class="page-content">
        {% block content %}{% endblock %}
      </section>
    </main>
  </div>

  {% block outside_content %}{% endblock %}

  {% block footer %}
  {% include 'ui/layouts/includes/footer.html' %}
  {% endblock footer %}

  {% include 'ui/layouts/theme/scripts.html' %}
  {% include 'ui/layouts/includes/scripts.html' %}

  <!-- Page Specific JS -->
  <script>
    domready(function () {
      {% block js_dom_ready %} {% endblock %}
    })
  </script>
</body>
</html>
