{% extends "staff/base.html" %}
{% load humanize %}

{% block content %}

<h3>Metrics</h3>
<ul>
    <li>Accounts: {{ num_accounts|intcomma }}</li>
    <li>Snakes: {{ num_snakes|intcomma }}</li>
    <li>Games: {{ num_games|intcomma }}</li>
</ul>

<h3>Useful Links</h3>
<ul>
    <li><a href="{% url 'home' %}">Homepage</a></li>
    <li><a href="{% url 'admin:index' %}">Django Admin</a></li>
</ul>

<h3>Analytics</h3>
<ul>
    <li><a href="{% url 'staff:histograms' %}">Histograms</a></li>
</ul>

<h3>Tools</h3>
<ul>
    <li><a href="{% url 'staff:tool-create-tournament-game' %}">Create Tournament Game</a></li>
</ul>

<h3>Data Dumps</h3>
<ul>
    <li><a href="{% url 'staff:dump-teams' %}">Dump Teams</a> [<a href="{% url 'staff:dump-teams-csv' %}">CSV File</a>] </li>
    <li><a href="{% url 'staff:dump-users' %}">Dump Users</a> [<a href="{% url 'staff:dump-users-csv' %}">CSV File</a>]</li>
</ul>

{% endblock content %}
