{% extends 'ui/layouts/base.html' %}

{% block content %}

<div class="row">
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <div class="profile-card text-center">
          <div class="thumb-xl member-thumb m-b-10 center-block">
            <img src="https://github.com/{{ account.github_username }}.png?size=150" class="rounded-circle img-thumbnail" alt="profile-image" />
          </div>

          <h5>{{ account.display_name }}</h5>

          <ul class="list-unstyled">
            <li>
              <i class="la la-github"></i>
              <a target="_blank" href="https://github.com/{{ account.github_username }}">GitHub</a>
            </li>
          </ul>
          {% if account == request.account %}
          <hr />
            {% if account.needs_attention %}
            <a class="btn btn-primary btn-block" href="{% url 'settings' %}">
              <i class="zmdi zmdi-alert-triangle text-white"></i> Update Profile
            </a>
            {% else %}
            <a class="btn btn-secondary btn-block" href="{% url 'settings' %}">
              Edit Profile
            </a>
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="card">
      <div class="card-header">
        <h3 class="m-t-5">Snakes</h3>
        {% if account == request.account %}
        <ul class="actions top-right">
          <li><a href="{% url 'new_snake' %}" class="btn btn-primary btn-sm">Create New Snake</a></li>
        </ul>
        {% endif %}
      </div>
      <div class="card-body p-0">
        <ul class="list-group list-group-flush">
          {% for snake in account.snakes.all %}
          <li class="list-group-item">
            <a href="{% url 'snake' snake_id=snake.id %}">{{ snake.name }}</a>
            {% if account == request.account %}
            <form style="display:inline;" action="{% url 'delete-snake' snake.id %}" method="POST">
              {% csrf_token %}
              <button type="submit"
                class="pull-right btn btn-inline btn-danger btn-outline btn-sm m-l-10">Delete</button>
            </form>
            <a href="{% url 'edit-snake' snake.id %}" class="pull-right btn btn-primary btn-outline btn-sm">Edit</a>
            {% endif %}
          </li>
          {% empty %}
          <li class="list-group-item">
            <p>
              This account has no snakes. <br>
              {% if account == request.account %}<a href="{% url 'external-docs' %}">Get started here!</a>{% endif %}
            </p>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h3 class="m-t-5">Recent Games</h3>
        {% if account == request.account %}
        <ul class="actions top-right">
          <li><a href="{% url 'new_game' %}"" class=" btn btn-primary btn-sm">Create New Game</a></li>
        </ul>
        {% endif %}
      </div>
      {% include "ui/includes/games.html" with games=games %}
    </div>
  </div>
</div>
{% endblock %}
