{% extends 'ui/layouts/base.html' %}

{% block content %}
<div class="form-group card">
  <h5 class="card-header">{{ form_title }}</h5>
  <div class="card-body">
    <form method="post" novalidate action="">
      {% csrf_token %}
      {% include "ui/includes/forms/hidden_fields.html" with form=form %}
      {% include "ui/includes/forms/field.html" with field=form.name label="Name" %}
      {% include "ui/includes/forms/field.html" with field=form.url label="URL" %}
      {% include "ui/includes/forms/checkbox.html" with field=form.is_public label="Allow anyone to add this snake to a game" %}
      <button type="submit" class="btn btn-primary">Save</button>
    </form>
  </div>
</div>

{% endblock %}
