{% extends 'ui/layouts/base.html' %}

{% block content %}
<div class="row">
  <div class="offset-md-1 col-md-10">
    <header class="page-header">
      <h1>Help &amp; Resources</h1>
    </header>

    <div class="card">
      <div class="card-body">
        <h4>Documentation and Starter Snakes</h4>
        <ul>
          <li><a href="{% url 'external-docs' %}">Official Battlesnake API Docs</a></li>
          <li><a href="{% url 'external-github' %}">Starter Snake Projects</a></li>
        </ul>

        <h4>Videos</h4>
        <ul>
          <li>
            <a href="https://www.youtube.com/watch?v=y9LCQyXWtmk">
              Introduction to Battlesnake with Jem Bezooyen
            </a>
          </li>
          <li>
            <a href="https://www.youtube.com/watch?v=vlEgqnxEWdc&amp;list=PLuUddVpCIxLXb-eKKmOJCDbFtXz29Be02&amp;index=2"">
                Slithering Into Our Hearts with Erika Burdon &amp; Scott Small</a>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class=" text-center m-t-50 m-b-50">
              <h4 class="m-b-15">Can't find what you need?</h4>
              <a class="btn btn-primary btn-rounded" href="mailto:help@battlesnake.com">Send us an email</a>

      </div>
    </div>
  </div>
  {% endblock %}
