{% extends 'ui/layouts/base.html' %}

{% block content %}

<div class="row">
    <div class="col">
        <div class="card shadow-none bg-gradient-purple">
            <div class="card-body p-10">
                <h1 class="text-white m-b-0 p-b-0 m-t-25 m-l-50 font-size-36">Welcome to Battlesnake</h1>
                <p class="card-text text-white m-t-0 p-t-0 m-l-50">Write code. Compete online with other developers.</p>
            </div>
            <div class="card-footer no-border p-l-50">
                <a href="{% url 'login' %}" class="text-white btn btn-secondary btn-rounded btn-outline transparent m-b-20">Create Account</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-8">
        <div class="card">
            <div class="card-body">
                <p class="card-text text-info lead">Battlesnake is a fun way for developers to practice new technologies.</p>
                <h5 class="card-title">Write Code</h5>
                <p class="card-text">
                    Battlesnake developers build and deploy a web server that implements the <a href="https://docs.battlesnake.com/snake-api">Official Battlesnake API</a>.
                    You can use any language and any technology you want - all you need to play is a web server that can receive and respond to HTTP requests.
                </p>
                <h5 class="card-title">Compete Online</h5>
                <p class="card-text">
                    Create games against your friends and colleagues, track wins and losses, and climb the ranks of the
                    <a href="{% url 'leaderboard' %}">Battlesnake Arena</a>.
                    We also regularly host <a href="{% url 'events' %}">online and live events</a> with hundreds of participants.
                </p>
                <h5 class="card-title">Upcoming Events</h5>
                <ul>
                    <li><a href="https://play.battlesnake.com/events/winter-classic-2019/">Battlesnake Winter Classic</a> - Dec 14th, 2019 on <a href="{% url 'external-twitch' %}">Twitch.tv</a></li>
                    <li><a href="https://play.battlesnake.com/events/battlesnake-victoria-2020/">Battlesnake Victoria 2020</a> - Mar 15th, 2020 in Victoria BC</li>
                </ul>
                <h5 class="card-title">Want to get started?</h5>
                <p class="card-text">
                    <a href="https://docs.batlesnake.com">Read the Battlesnake Docs</a> to get started building your snake.
                </p>
                <p class="card-text"></p>
                    <a href="{% url 'login' %}" class="btn btn-primary">Login with GitHub</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-xl-4">
        <div class="card">
            <div class="card-content">
                <img class="card-img-top img-fluid" src="{% static 'ui/img/social-banner-bwc-2019.png' %}">
                <div class="card-body">
                    <h4 class="card-title">Register for the Battlesnake Winter Classic</h4>
                    <p class="card-text">
                        Join developers all over the world this holiday season in a of online Battlesnake tournaments.
                        Every game with broadcast live on <a href="{% url 'external-twitch' %}">Twitch.tv</a> and the winners will be eligible to receive Limited Edition Battlesnake Prize Packs.
                    </p>
                    <a href="/events/winter-classic-2019/" class="btn btn-primary">Learn More and Register</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card">
            <div class="row">
                <div class="offset-xl-3 col-xl-6">
                    <div class="card-body icon-set lines">
                        <p class="card-text text-center lead">Follow us for future events and updates.</p>
                        <div class="row">
                            <div class="icon col-xs-6 col-md-2">
                                <a href="{% url 'external-twitch' %}" class="tile-primary"><i class="la la-twitch"></i> Twitch</a>
                            </div>
                            <div class="icon col-xs-6 col-md-2">
                                <a href="{% url 'external-youtube' %}" class="tile-primary"><i class="la la-youtube"></i> YouTube</a>
                            </div>
                            <div class="icon col-xs-6 col-md-2">
                                <a href="{% url 'external-facebook' %}" class="tile-primary"><i class="la la-facebook"></i> Facebook</a>
                            </div>
                            <div class="icon col-xs-6 col-md-2">
                                <a href="{% url 'external-github' %}" class="tile-primary"><i class="la la-github"></i> GitHub</a>
                            </div>
                            <div class="icon col-xs-6 col-md-2">
                                <a href="{% url 'external-instagram' %}" class="tile-primary"><i class="la la-instagram"></i> Instagram</a>
                            </div>
                            <div class="icon col-xs-6 col-md-2">
                                <a href="{% url 'external-twitter' %}" class="tile-primary"><i class="la la-twitter"></i> Twitter</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
{% endblock %}
